@import url('https://fonts.googleapis.com/css2?family=Girassol&family=UnifrakturMaguntia&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Girassol', sans-serif;
    margin: 0;
    overflow-x: hidden;

}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero-content {
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    transform: translateY(50px);
    opacity: 0;
    color: #ff3366;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-top: 2px;
    transform: translateY(30px);
    opacity: 0;
    color: #fff;
}

.bands {
    padding: 5rem 2rem;
    position: relative;
    z-index: 0;
}

@media (max-width: 768px) {
    .bands{
        padding: 0rem 2rem;
    }
}

.bands h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #ff3366;
}

.band-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.band-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    backdrop-filter: blur(1px);
}

.band-card:hover {
    transform: translateY(-10px);
}

.band-image {
    width: 100%;
    height: 200px;
    background: #333;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.band-card {
    color: white;
    /* margin-bottom: 20px; */
}

.band-card h3 {
    margin-bottom: 0px;
}

.band-card p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.schedule {
    padding: 5rem 2rem;
    /* background: rgba(0, 20, 40, 0.9); */
    position: relative;
    z-index: 0;
}

.schedule h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #ff3366;
}

.timeline {
    max-width: 800px;
    margin: 0 auto;
}

.event {
    display: flex;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-50px);
}

.time {
    width: 100px;
    font-weight: bold;
    color: #ff3366;
}

.description {
    flex: 1;
    padding-left: 2rem;
    border-left: 2px solid #ff3366;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* background: rgba(0, 20, 40, 0.8); */
    /* backdrop-filter: blur(10px); */
    z-index: 100;
}
.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links {
    display: flex;
    gap: 2rem;
    /* position: fixed;
    right: 0;
    top: 50px; 
    width: 200px;  */
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff3366;
}

@media (max-width: 768px) {
    .nav{
        padding: 1rem 1rem;
    }
    .nav-links{
        gap: 1rem;
    }
}

.page .page-front .front-cloud [data-multiple] [data-movement] span {
    background: url('../images/pc/front-cloud.png');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .page .page-front .front-cloud [data-multiple] [data-movement] span {
        background-image: url('../images/sp/front-cloud.png');
        /* position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2; */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        background-repeat: no-repeat;
    }
}

.page {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.page .page-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.back-sky {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.back-sky [data-multiple] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.back-sky [data-movement] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}



.page .page-front .front-cloud [data-multiple] [data-movement] span {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto
}

.back-sky {
    position: relative;
    min-height: 100vh;
}

.page .page-back .back-sky [data-multiple] [data-movement] span {
    position: relative;
    min-height: 100vh;
}

.page .page-back .back-sky [data-multiple] [data-movement] span,
.page .page-back .back-cloud [data-multiple] [data-movement] span,
.page .page-front .front-cloud [data-multiple] [data-movement] span {
    justify-content: center;
    align-items: center;
    background-size: contain;
    min-height: 100vh;
}

.page .page-back .back-sky [data-multiple] [data-movement] span {
    background-repeat: repeat-y;
    /* background-repeat: repeat-x; */
}

.page .page-back .back-sky [data-multiple] [data-movement] span {
    background-image: url('../images/pc/back-sky.png');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    /* coverにすると画面いっぱいになる */
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}

.page-front {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.back-cloud{
    overflow: hidden;

}

.page .page-back .back-cloud [data-multiple] [data-movement] span {
    background-image: url('../images/pc/back-cloud.png');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
}


@media (max-width: 768px) {
    .page .page-back .back-sky [data-multiple] [data-movement] span {
        background-image: url('../images/sp/back-sky.png');
        /* position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2; */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        /* coverにすると画面いっぱいになる */
        background-size: contain;
        background-repeat: repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .page .page-back .back-cloud [data-multiple] [data-movement] span {
        background-image: url('../images/sp/back-cloud.png');
        /* position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1; */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

.footer {
    background-image: url('/images/pc/back-sky.png');
    background-repeat: no-repeat;
    /* 繰り返さない */
    background-size: cover;
    /* 背景画像をコンテナに合わせて調整 */
    z-index: -2;
    position: absolute;
    /* 絶対位置指定で自由に動かせる */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.timetable {
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #6fdbdc, #28b5b5);
    color: white;
    width: 80%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .timetable{
        width: 90%;
    }
}

.time-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s;
}

.time-slot:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.time {
    font-weight: bold;
    font-size: 20px;
}

.artist {
    font-size: 18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.timetable {
    animation: fadeIn 2s ease-out forwards;
}